aiogram
aiohttp
aiosignal
alembic
async-timeout
asyncio
asyncpg
attrs
autopep8
Babel
certifi
charset-normalizer
environs
et-xmlfile
flake8
frozenlist
greenlet
idna
magic-filter
Mako
MarkupSafe
marshmallow
mccabe
multidict
openpyxl
packaging
psycopg2
pycodestyle
pyflakes
pyparsing
python-dotenv
pytz
SQLAlchemy
tomli
typing_extensions
yarl
